<section class="chat-window">
    <div class="chat-header">
        {{{avatar}}}
        <p class="chat-user-name">{{name}}</p>
        <button class="chat-menu-button"></button>
    </div>
    <div class="chat-messages">
        {{> @partial-block }}
    </div>
    <div class="chat-footer">
        <button class="chat-file-loader"></button>
        <label class="chat-input-label" for="message">
            <input type="text" class="chat-input-field" id="message" name="message"/>
        </label>
        <button class="chat-send-button"></button>
    </div>
</section>
