@import "../../app/config/styles.config";

.chat-window {
    flex: 1;
    padding: $main-spacing calc($main-spacing * 2);
    background-color: $black-700-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    display: flex;
    gap: $main-spacing;
    align-items: center;
    padding-bottom: $main-spacing;
    border-bottom: 1px solid $black-100-color;
}

.chat-messages {
    font: $text-large-s;
    color: $black-200-color;
}

.chat-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:  calc($main-spacing * 2);
}

.chat-file-loader {
    cursor: pointer;
    background: transparent url("../../assets/clip_icon.svg") no-repeat center center;
    border: none;
    width: 28px;
    height: 28px;
}

.chat-input-label {
    flex: 1;
}

.chat-input-field {
    color: $black-200-color;
    font: $text-regular-m;
    border: 1px solid $black-500-color;
    background-color: $black-600-color;
    padding: 4px 16px;
    width: 100%;
}

.chat-user-name {
    font: $text-large-s;
    margin: 0;
    flex: 1;
    color: $black-100-color;
}

.chat-menu-button {
    cursor: pointer;
    border: none;
    width: 3px;
    height: 15px;
    background: transparent url("../../assets/menu_icon.svg") no-repeat center center;
}

.chat-send-button {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 28px;
    height: 28px;
    background: $green-500-color url("../../assets/right-arrow.svg") no-repeat center center;
}
