$black-800-color: #0d0f10;
$black-700-color: #131619;
$black-600-color: #1a1d21;
$black-500-color: #363a3d;
$black-300-color: #9b9c9e;
$black-200-color: #cdcecf;
$black-100-color: #e8e9e9;
$green-500-color: #b6f09c;
$white-color: #fff;
$red-600-color: #d0302f;
$input-shadow: 0 0 0 2px rgb(54 58 61 / 24%);
$input-hover-shadow: 0 0 0 2px rgb(54 58 61 / 24%);
$input-active-hover-shadow: 0 0 0 2px rgb(132 220 245 / 24%);
$input-error-hover-shadow: 0 0 0 2px rgb(208 48 47 / 25%);
$modal-background-color: rgb(26 29 33 / 96%);
$modal-border: rgb(255 255 255 / 8%);
$modal-shadow:
    inset 0 8px 12px 0 rgb(255 255 255 / 4%),
    0 24px 64px -16px rgb(0 0 0 / 24%),
    inset 16px 24px 64px -24px rgb(255 255 255 / 4%);
$overlay-color: rgb(6 7 8 / 64%);
$overlay-blur: blur(8px);
$avatar-hover-color: rgb(217 217 217 / 70%);
$avatar-shadow: 0 4px 20px 0 #{$green-500-color};
$gradient-blue-green-color: linear-gradient(
    45deg,
    #82dbf7 0%,
    #{$green-500-color} 100%
);
$font-family: 'Plus Jakarta Sans', sans-serif;
$text-semibold-weight: 600;
$text-medium-weight: 500;
$text-regular-weight: 400;
$text-large-l: #{$text-semibold-weight} 16px/24px #{$font-family};
$text-large-s: #{$text-semibold-weight} 12px/28px #{$font-family};
$text-large-s: #{$text-semibold-weight} 12px/18px #{$font-family};
$text-medium-l: #{$text-medium-weight} 12px/18px #{$font-family};
$text-medium-s: #{$text-medium-weight} 12px/14px #{$font-family};
$text-regular-l: #{$text-regular-weight} 20px/32px #{$font-family};
$text-regular-m: #{$text-regular-weight} 14px/20px #{$font-family};
$text-regular-s: #{$text-regular-weight} 10px/18px #{$font-family};
$main-spacing: 8px;
$main-radius: 12px;
