@import './app/config/normalize';
@import './app/config/styles.config';
@import '@fontsource/plus-jakarta-sans/400.css';
@import '@fontsource/plus-jakarta-sans/500.css';
@import '@fontsource/plus-jakarta-sans/600.css';
@import './components/button/button';
@import './components/input/input';
@import './components/title/title';
@import './components/link/link';
@import './components/avatar/avatar';
@import './components/message/message';
@import './components/search-input/search-input';
@import './components/error-text/error-text';
@import './components/mesage-input/message-input';
@import './components/modal/modal';
@import './components/chat-window/chat-window';
@import './components/messages-list/messages-list';
@import './components/chat-message/chat-message';
@import './partials/form/form';
@import './partials/card/card';
@import './partials/fieldset/fieldset';
@import './partials/divider/divider';
@import './partials/panel/panel';
@import './partials/chat-panel/chat-panel';
@import './partials/chat-messages/chat-messages';
@import './partials/modal/modal';
@import './pages/chat/chat-page';
@import './pages/login/login-page';

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font: $text-regular-m;
    color: $black-500-color;
    background-color: $black-700-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}
