@import '../../app/config/styles.config';

.link {
    margin: 0;
    text-decoration: none;
    color: $green-500-color;
    font: $text-regular-m;

    &_color_red {
        color: $red-600-color;
    }

    &_color_grey {
        color: $black-300-color;
        text-align: end;
    }
}
